:root {
    --bois-de-printemps: #F3F0E8;
    --lin-satine: #E2DDCF;
    --gris-olive: #A8A08C;
    --huitre-pale: #958C77;
}
*{
    box-sizing: border-box;
    margin:0;
}

body{
    background-color: var(--bois-de-printemps);
    width:100vw;
    max-width: 100%;
    height:auto;
}

.container-menu{
    display:flex;
    flex-direction: column;

}

.image-paysage{
    width: 50%;
}